{%- extends "layout.html" %}
{% set fa = ablog.fontawesome %}
{%- block extrahead %}
  {{ super() }}
  {% if feed_path %}
  <link rel="alternate" type="application/atom+xml"  href="{{ pathto(feed_path, 1) }}/atom.xml" title="{{ feed_title }}">
  {% endif %}
  {% if ablog.fontawesome_link_cdn%}
  <link href="{{ ablog.fontawesome_link_cdn }}" rel="stylesheet">
  {% elif ablog.fontawesome_css_file %}
  <link rel="stylesheet" href="{{ pathto('_static/' + ablog.fontawesome_css_file, 1) }}" type="text/css" />
  {% endif %}
  <style type="text/css">
    ul.ablog-archive {list-style: none; overflow: auto; margin-left: 0px}
    ul.ablog-archive li {float: left; margin-right: 5px; font-size: 80%}
    ul.postlist a {font-style: italic;}
    ul.postlist-style-disc {list-style-type: disc;}
    ul.postlist-style-none {list-style-type: none;}
    ul.postlist-style-circle {list-style-type: circle;}
  </style>
{% endblock %}

{% block body %}
  {{ body }}
  <div class="section">
  {% if pagename in ablog %}
    {% include "postnavy.html" %}
  {% endif %}
  {% if pagename != 'about' %}
    <div class="section">
    <h2>Contact Me</h2>
      Please <a href="{{ pathto('about', 1) }}">contact me</a> if you have questions or comments.
    </div>
  {% endif %}
  </div>
{% endblock %}
